<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editando Usuário</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        Nome: <input value="<%=usuario.nome%>" type="text" name="nome" placeholder="Digite seu nome!"><br>
        Email: <input value="<%=usuario.email%>" type="email" name="email" placeholder="Digite seu email!"><br>
        Senha: <input value="<%=usuario.senha%>" type="password" name="senha" placeholder="Digite sua senha!"><br>
        Foto: <input type="file" name="foto"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>