<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editando Animal</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        Nome: <input value="<%=animal.nome%>" type="text" name="nome" placeholder="Digite o nome do animal!"><br>
        Especie: <input value="<%=animal.especie%>" type="text" name="especie" placeholder="Digite a especie do seu animal!"><br>
        Genero: <input value="<%=animal.peso%>" type="text" name="peso" placeholder="Digite o peso do seu animal!"><br>
        Foto: <input type="file" name="foto"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>